.contact-us__title {
  color: white;
  margin: 0;
  padding: 0;
  font: bold 60px/66px "Graphik", Arial, sans-serif;
  flex-shrink: 0;
  max-width: 826px;
}

@media screen and (max-width: 1150px) {
  .contact-us__title {
    font-size: 52.5px;
    line-height: 58.5px;
    max-width: 726px;
  }
}

@media screen and (max-width: 700px) {
  .contact-us__title {
    font-size: 36px;
    line-height: 54px;
    max-width: 327px;
  }
}
