.contact-us__svg-circles {
  width: 51px;
  height: 60px;
  fill: none;
  position: absolute;
  top: 208px;
  left: 33px;
}

@media screen and (max-width: 700px) {
  .contact-us__svg-circles {
    display: none;
  }
}
