.service__grid-element-title {
  color: white;
  font: 600 28px/38px "Nunito Sans", Arial, sans-serif;
  letter-spacing: -0.750316px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 1150px) {
  .service__grid-element-title {
    font-size: 24.5px;
    line-height: 34.5px;
  }
}
