.contact-us__button {
  display: block;
  width: 201px;
  height: 60px;
  background: #5454d4;
  border-radius: 5px;
  color: white;
  font: bold 21px/29px "Nunito Sans", Arial, sans-serif;
  border: none;
  padding: 0;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  background-size: 300% 100%;
  flex-shrink: 0;
}

.contact-us__button:hover {
  background-position: 100% 0;
  background-image: linear-gradient(
    to right,
    #5454d4,
    #6464f4,
    #5454d4,
    #5454d4
  );
}

@media screen and (max-width: 700px) {
  .contact-us__button {
    width: 166px;
    height: 44px;
    font-size: 16px;
    line-height: 21.82px;
    margin-left: -4px;
    padding: 2px 4px 0 0;
  }
}
