.service__blurred-rectangle {
  position: absolute;
  width: 860px;
  height: 2576.87px;
  left: 219px;
  top: 1388px;
  background: linear-gradient(
    180deg,
    rgba(251, 168, 28, 0.048) 0%,
    rgba(224, 86, 136, 0.018) 100%
  );
  filter: blur(100px);
  opacity: 0.9;
  border-radius: 233.5px;
  transform: rotate(65.71deg);
}

@media screen and (max-width: 1350px) {
  .service__blurred-rectangle {
    top: 1188px;
    height: 2276.87px;
  }
}
