.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 1350px) {
  .header {
    width: 80%;
  }
}
