.platform__title {
  color: white;
  font: bold 80px/84px "Graphik", Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  max-width: 582px;
}

@media screen and (max-width: 1150px) {
  .platform__title {
    font-size: 70px;
    line-height: 74px;
  }
}

@media screen and (max-width: 700px) {
  .platform__title {
    font-size: 42px;
    line-height: 63px;
    margin-bottom: 30px;
  }
}
