.platform__subtitle {
  color: white;
  font: normal 21px/39px "Nunito Sans", Arial, sans-serif;
  letter-spacing: -0.656526px;
  opacity: 0.7;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  max-width: 536px;
}

@media screen and (max-width: 1150px) {
  .platform__subtitle {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 700px) {
  .platform__subtitle {
    font-size: 16px;
    line-height: 24px;
    max-width: 327px;
    letter-spacing: 0;
  }
}
