.platform__container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.platform__container:nth-child(2) {
  background-image: url(../../../images/platform__image.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: -49px 0 0 -30px;
  width: 108%;
  height: 127%;
}

@media screen and (max-width: 700px) {
  .platform__container:nth-child(2) {
    background-image: url(../../../images/platform__image-mobile.svg);
    height: 150%;
    margin: -30px 0 0 -19px;
  }
}

@media screen and (max-width: 500px) {
  .platform__container:nth-child(2) {
    height: 103%;
  }
}
