.service__title {
  color: white;
  font: bold 60px/70px "Graphik", Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 695px;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .service__title {
    font-size: 52.5px;
    line-height: 62.5px;
  }
}

@media screen and (max-width: 700px) {
  .service__title {
    font-size: 36px;
    line-height: 54px;
    text-align: left;
  }
}
