.service__blurred-oval {
  position: absolute;
  width: 467px;
  height: 508.5px;
  top: -232px;
  left: -314px;
  background: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.21) 0%,
    rgba(84, 84, 212, 0.0882) 100%
  );
  filter: blur(100px);
  border-radius: 233.5px;
  transform: rotate(-54.37deg);
}

@media screen and (max-width: 700px) {
  .service__blurred-oval {
    display: none;
  }
}
