.service__svg-plus-mobile {
  width: 19px;
  height: 19px;
  position: absolute;
  display: none;
  top: 97px;
  right: -9px;
}

@media screen and (max-width: 700px) {
  .service__svg-plus-mobile {
    display: block;
  }
}
