.contact-us {
  width: 100%;
  min-height: 506px;
  background: rgba(30, 30, 32, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .contact-us {
    min-height: 416px;
  }
}
