.contact-us__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1350px) {
  .contact-us__container {
    width: 87%;
  }
}

@media screen and (max-width: 950px) {
  .contact-us__container {
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    justify-content: stretch;
  }
}
