.service__title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 98px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .service__title-container {
    justify-content: flex-start;
  }
}
