.logo__icon {
  background-image: url(../../../images/logo-icon.png);
  background-size: cover;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 700px) {
  .logo__icon {
    width: 27px;
    height: 27px;
  }
}
