.contact-us__svg-circles-mobile {
  display: none;
  position: absolute;
  width: 40px;
  height: 47px;
  fill: none;
  top: 278px;
  left: -15px;
}

@media screen and (max-width: 700px) {
  .contact-us__svg-circles-mobile {
    display: block;
  }
}
