.platform {
  display: grid;
  grid-template-columns: repeat(39, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .platform {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .platform {
    width: 87%;
    grid-gap: 101px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
