.service__svg-triangles {
  width: 105px;
  height: 121px;
  fill: none;
  position: absolute;
  top: -34px;
  left: 64px;
}

@media screen and (max-width: 1100px) {
  .service__svg-triangles {
    left: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .service__svg-triangles {
    left: 20px;
  }
}

@media screen and (max-width: 950px) {
  .service__svg-triangles {
    left: -10px;
  }
}

@media screen and (max-width: 900px) {
  .service__svg-triangles {
    left: -30px;
  }
}

@media screen and (max-width: 900px) {
  .service__svg-triangles {
    left: -50px;
  }
}

@media screen and (max-width: 700px) {
  .service__svg-triangles {
    display: none;
  }
}
