.platform__blurred-rectangle {
  width: 467px;
  height: 1233.79px;
  position: absolute;
  left: -120px;
  top: -444px;
  background: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.27) 0%,
    rgba(84, 84, 212, 0.1134) 100%
  );
  filter: blur(100px);
  border-radius: 233.5px;
  transform: rotate(-54.37deg);
  opacity: 0.7;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .platform__blurred-rectangle {
    width: 400px;
    height: 1100px;
  }
}

@media screen and (max-width: 700px) {
  .platform__blurred-rectangle {
    width: 252.37px;
    height: 900px;
    left: -120px;
    top: -420px;
    transform: rotate(-41.34deg);
  }
}
