.platform__button {
  width: 204px;
  height: 58px;
  background: #5454d4;
  border-radius: 4px;
  color: white;
  border: 0.1px solid #5454d4;
  font: 700 20px/27px "Nunito Sans", Arial, sans-serif;
  padding: 0;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  background-size: 300% 100%;
  position: relative;
}

.platform__button:hover {
  background-position: 100% 0;
  background-image: linear-gradient(
    to right,
    #5454d4,
    #6464f4,
    #5454d4,
    #5454d4
  );
}

@media screen and (max-width: 1150px) {
  .platform__button {
    width: 166px;
    height: 44px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 0;
    text-align: left;
    padding-left: 17px;
  }
}
