.portfolio__svg-circles {
  position: absolute;
  width: 89px;
  height: 94px;
  fill: none;
  top: 29px;
  right: 41px;
}

@media screen and (max-width: 800px) {
  .portfolio__svg-circles {
    top: 75px;
    right: 0px;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__svg-circles {
    display: none;
  }
}
