.portfolio__title {
  color: white;
  font: 800 58px/79px "Nunito Sans", Arial, sans-serif;
  margin: 0;
  margin-bottom: 70px;
}

@media screen and (max-width: 1150px) {
  .portfolio__title {
    font-size: 51px;
    line-height: 70px;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__title {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 55px;
  }
}
